{% load static %}

{% block post %}
<div class="group">
    <div class="group-item">
        <a class="wearehiring" href="https://t.me/szerel">
            <img class="wearehiring-img" src="{% static 'main/img/logo_we.png' %}" width="280" height="140" alt="We are future!">
        </a>
    </div>
</div>
<div class="hero">
    <h1 class="hero-logo">
        <div class="hero-title">szThings</div>
        <img class="hero-image img" src="{% static 'main/img/logo_post.png' %}" width="500" height="300" alt="Things">
    </h1>
    <p class="hero-description">
        szThings is a personal web task manager that helps you plan your day, manage projects and make real progress towards your goals.
    </p>
</div>
{% endblock %}


